.container {
    margin: 140px 112px 140px 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #0D3B66;
    align-self: flex-start;
}

.cards {
    display: grid;
    margin-top: 80px;
    height: 426px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "card-one card-two card-four"
    "card-three card-three card-four";
    grid-gap: 32px;
}

.card-one, .card-two, .card-three, .card-four {
    background: #fdeced6b;
    border: 1px solid rgba(241, 81, 86, 0.3);
    border-radius: 20px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-one img, .card-two img, .card-three img {
    height: 33px;
    width: 30px;
}

.card-one .text, .card-two .text, .card-three .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.02em;
}

.card-one {
    grid-area: card-one;
}

.card-two {
    grid-area: card-two;
}

.card-three {
    grid-area: card-three;
}

.card-four {
    grid-area: card-four;
    position: relative;
}

.card-four img:first-child {
    position: absolute;
    height: 360px;
    width: 100%;
    top: -10%;
    left: 0;
    object-position: -70px -3px;
}

.card-four img:nth-child(2) {
    position: absolute;
    height: 360px;
    width: 100%;
    bottom: 0;
    left: 0;
    object-position: 100px 100px;
}

.screen-mobile {
    display: none;
}

@media (max-width: 1050px) {
    .container {
        margin-top: 50px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .card-four {
       display: none; 
    }

    .screen-mobile {
        display: flex;
        width: 100vw;
        height: 400px;
        background: #fdeced6b;
        border: 1px solid rgba(241, 81, 86, 0.3);
        margin-top: 8rem;
        align-items: center;
        justify-content: center;
        align-content: center;

    }

    .screen-mobile img {
        width: 900px;
        object-position: 5px 0px;
    }

}

@media (max-width: 630px) {
    .screen-mobile {
        margin-top: 200px;
        height: 300px;
    }

    .screen-mobile img {
        width: 600px;
        object-fit: contain;
        object-position: 5px 0px;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 70px 20px 20px 20px;
    }

    .screen-mobile {
        margin-top: 350px;
        height: 300px;
    }

    .screen-mobile img {
        width: 600px;
        object-fit: contain;
        object-position: 5px 0px;
    }
}

@media (max-width: 400px) {
    .container {
        margin: 70px 20px 20px 20px;
    }

    h2 {
        font-size: 3rem;
    }

    .cards {
        margin-top: 30px;
    }

    .screen-mobile {
        margin-top: 210px;
        height: 150px;
    }

    .screen-mobile img {
        width: 330px;
        object-fit: contain;
        object-position: 5px 0px;
    }

    .card-one, .card-two, .card-three {
        gap: 30px;
    }

}