.right-side {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 59.2rem 9.5rem;
    grid-template-rows: 38.6rem 15.2rem 7rem;
    column-gap: 1.6rem;
    row-gap: 2rem;
    grid-template-areas: 
    "dog rect-three"
    "rect-button rect-three"
    "rect-two rect-four";
}

.dog-rect {
    position: relative;
    background: linear-gradient(153.09deg, #F36A6F 17.23%, #E44449 73.77%);
    border-radius: 20px;
    grid-area: dog;
}

.dog-rect img {
    position: absolute;
    bottom: 0;
    left: 15%;
    max-width: 40.6rem;
}

.btn-rect {
    background: #E44449;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: rect-button;
}

.btn-rect button {
    background: #FFFFFF;
    border-radius: 20px;
    width: 49.2rem;
    height: 7.2rem;
    border: none;
    color: #0D3B66;
    font-weight: 800;
    font-size: 2rem;
    line-height: 34px;
    cursor: pointer;
}

.rect-two {
    background: #E44449;
    border-radius: 20px 20px 0 0;
    grid-area: rect-two;
}

.rect-three {
    background: #E44449;
    border-radius: 20px 0 0 20px;
    grid-area: rect-three;
}

.rect-four {
    background: #E44449;
    border-radius: 20px 0 0 0;
    grid-area: rect-four;
}

button.mobile-btn {
    display: none;
}

@media (max-width: 1270px) {
    .right-side {
        grid-template-columns: 40rem 0;
        grid-template-areas:
        "dog dog"
        "rect-button";
    }

    .dog-rect img {
        left: 5%;
    }

    .btn-rect button {
        width: 30rem;
    }

}

@media (max-width: 980px) {
    .rect-two {
        display: none;
    }
}

@media (max-width: 900px) {
    .btn-rect, .rect-two, .rect-three, .rect-four {
        display: none;
    }

    .right-side {
        height: 450px;
    }

    .dog-rect {
        position: relative;
    }

    button.mobile-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 20px;
        width: 23.9rem;
        height: 5.5rem;
        border: none;
        color: #0D3B66;
        font-weight: 800;
        font-size: 2rem;
        line-height: 34px;
        left: 20%;
        bottom: 20px;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .right-side {
        display: flex;
        justify-content: center;
    }
    .dog-rect {
        width: 250px;
        height: 250px;
    }

    .dog-rect img {
        width: 250px;
    }

    button.mobile-btn {
        width: 20.9rem;
        height: 4.5rem;
        left: 8%;
    }

    /* .rect-two {
        display: block;
        height: 38.6rem;
        width: 200px;
        left: -300px;
    } */
}


