.main-content-container {
    background-color: #F15156;
    display: flex;
    padding-left: 113px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 980px) {
    .main-content-container {
        justify-content: center;
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .main-content-container {
        height: 50%;
    }
}

@media (max-width: 885px) {
    .main-content-container {
        padding-top: 60px;
    }
}

@media (max-width: 500px) {
    .main-content-container {
        height: 700px;
    }

}



