.main-content-container {
    background-color: #F15156;
    display: flex;
    padding-left: 113px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 980px) {
    .main-content-container {
        justify-content: center;
        padding: 10px;
    }
}



